@model IEnumerable<TrueStoryMVC.Models.Post>

<div class="row">
    @foreach (Post item in Model)
    {
        await Html.RenderPartialAsync("_OnePost", item);
        //<script async>alert(@item.Id)</script>
    }
</div>
 

<script>
     async function postArticle(postId) {

        event.preventDefault();
        var Article = new FormData(this.event.target);

        let responce = await fetch('/home/comment', {
            method: "POST",
            body: Article
        })

         document.getElementById('formElem-' + postId).children[1].value = '';

         if (responce.status != 401) {
             let div = document.createElement('div');
             div.className = "border rounded mt-1 p-1";
             div.style = "line-height: 10px";
             let span = document.createElement('span');
             span.className = "text-secondary";
             let fromName = '@Context.User.Identity.Name';
             let ref = document.createElement('a');
             ref.href = '/users/userpage?username=' + fromName;
             ref.append(document.createTextNode(fromName));
             span.append(ref);
             span.append(document.createTextNode(' сейчас'));
             div.append(span);
             let pre = document.createElement('pre');
             pre.className = "mt-3";
             pre.style = "overflow:hidden;";
             pre.innerHTML = Article.get('Text');
             div.append(pre);
             document.getElementById('post-comment-block-'+postId).append(div);
         }
         else
             window.location.href = 'account/login';
    }

    async function like(button, type, postId, commentType) {
        let url = '/home/like';



        let responce = await fetch(url, {
            method: 'post',
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({ PostId: postId, LikeType: type, CommentType : commentType})
        });

        let json = await responce.json();

        if (json != null) {
            let html
            if (commentType == 0)
                html = document.getElementById("post-rating-" + postId);
            else if (commentType == 1)
                html = document.getElementById("comment-rating-" + postId); 
            else
                return;

            let count = (Number)(html.textContent);
            count += json.result;
            html.innerHTML = count;
        }
        else
            window.location.href = 'account/login';
    }
</script>