@model TrueStoryMVC.Models.ViewModels.PostModel
    <div class="error-block">
    </div>
    <div class="row">
        <div class="col-12">
            <form enctype="multipart/form-data">
                <div class="row justify-content-end">
                    <div class="form-group col-10">
                        <span class="validation-field" id="header-validation"></span>
                        <input id="header-input" class="form-control" placeholder="Введите заголовок" />
                    </div>
                </div>

                <div class="row justify-content-end">
                    <div class="form-group  col-10">
                        <span class="validation-field" id="tag-validation"></span>
                        <input id="tags-input" placeholder="Введите тэги через пробел" class="form-control" />
                    </div>
                </div>

                <div class="row justify-content-end">
                    <div class="form-group  col-10">
                        <input type="button" value="Отправить" class="btn btn-primary" onclick="sendData()"/>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div class="row justify-content-end">
        <div class="col-5">
            <button onclick="addText()" class="btn btn-default">Добавать текст</button>
        </div>
        <div class="col-5">
            <input type="file" onchange="readFile(this)" accept="image/jpeg,image/jpg,image/png" class="form-control-file" multiple />
        </div>
    </div>

<script src="~/js/PostValidate.js"></script>
<script src="~/js/CreatePost.js"></script>