<div class="col-9 content">
</div>

<script src="~/js/PostStaff.js"></script>
<script>
    window.onload = getPostBlock(1);
    window.addEventListener('scroll', () => getPostBlockAfterScroll(1), false);
</script>