<div class="col-md-9">
    <a asp-action="Add">Новый пост</a>
</div>

<script src="~/js/getPostBlock.js"></script>
<script src="~/js/like.js"></script>
<script>
    window.onload = getPostBlock(1);
    window.addEventListener('scroll', () => getPostBlockAfterScroll(1), false);
</script>