@model int

<h2>counter</h2>
<p >current count: </p><span id="count_num">@Model</span>
<button id="btn" onclick="get_click()">click!</button>
<script>

    async function get_click() {
        let url = "/home/increment";
        let responce = await fetch(url, {
            method: 'POST',
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({ count: Number(document.getElementById("count_num").innerHTML) })
});
let json = await responce.json();
document.getElementById("count_num").innerHTML = json.count;
}

</script>