<div class="col-md-9">
    <a asp-action="Add">Новый пост</a>
</div>


<script src="~/js/PostStaff.js"></script>
<script>
    window.onload = getPostBlock(0);
    window.addEventListener('scroll', () => getPostBlockAfterScroll(0), false);
</script>