<div class="col-9 content">
    
</div>

<script src="~/js/PostStaff.js"></script>
<script>
    window.onload = getPostBlock(0);
    window.addEventListener('scroll', () => getPostBlockAfterScroll(0), false);
</script>