@model IEnumerable<TrueStoryMVC.Models.Post>

<a asp-action="Add">Новый пост</a>
<div>
    @foreach (Post item in Model)
    {
    <div class="container">
        <h2 class="row">@item.Header</h2>
        <p class="row">@item.Text</p>

        @{
            if (item.PostImages.Count != 0)
            {
                <p>всего картинок: @item.PostImages.Count</p>
                foreach (ImageInfo img in item.PostImages)
                {
                    <div class="row"><img src="data:image/jpeg ;base64,@(Convert.ToBase64String(img.Data))" /></div>
                }
            }
            else
            {
                <p>null</p>
            }
         }
        <div>
            <a asp-controller="Home" asp-action="Delete" asp-route-id="@item.Id"> Удалить</a>
        </div>
    </div>
    }
</div>