
<form asp-action="SearchTag" asp-controller="Home">
    <input asp-action="SearchTag" asp-controller="Home" name="Tags" placeholder="Введите тэги через пробел"/> 
    <input type="submit" value="Поиск">
</form>