@model TrueStoryMVC.Models.Tag
    <form asp-action="Tag" asp-controller="Home">
    <input asp-action="Tag" asp-controller="Home" asp-for="Tags" placeholder="Введите тэги через пробел"/> 
    <input type="submit" value="Поиск">
</form>