@model string

<p>Посты по тегу "<span id="tagsLine">@Model</span>"</p>

<script src="~/js/PostStaff.js"></script>
<environment names="Development">
    <script>
        window.onload = getPostBlock(3, document.getElementById('tagsLine').innerHTML,'http://localhost:5200');
        window.addEventListener('scroll', () => getPostBlockAfterScroll(3, document.getElementById('tagsLine').innerHTML, 'http://localhost:5200'), false);
    </script>
</environment>
<environment names="Production">
    <script>
        window.onload = getPostBlock(3, document.getElementById('tagsLine').innerHTML, 'http://truestory.northeurope.cloudapp.azure.com');
        window.addEventListener('scroll', () => getPostBlockAfterScroll(3, document.getElementById('tagsLine').innerHTML, 'http://truestory.northeurope.cloudapp.azure.com'), false);
    </script>
</environment>