.error-message {
    position: relative;
    z-index: 1000;
    text-align: center;
    width: 100%;
    margin-bottom: 0em;
    background-color: rgba(255, 87, 87, 0.6);
}

.error-block {
    position: absolute;
    z-index: 1000;
    width: 100%;
}

.autotextarea{
    overflow:hidden;
    resize: none;
}

body{
    background-color: #F5F5F5;
}

a {
    text-decoration: none;
    color: #212121;
}

a:hover {
    color: #272727;
    text-decoration: none;
}

pre {
    white-space: pre-wrap;
}

.user-pic-min:hover{
    border: 2px solid #232323;
}

#you{
    display: flex;
    width: 100%;
}