.error-message {
    position: relative;
    z-index: 1000;
    text-align: center;
    width: 100%;
    margin-bottom: 0em;
    background-color: rgba(255, 87, 87, 0.6);
}

.error-block {
    position: absolute;
    z-index: 1000;
    width: 100%;
}
